---
---

@import "{{ site.theme }}";

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #dbdbdb;
}

header {
    display: none;
}

ul > li {
    list-style-image: none;
    ::marker {
        font-size: 1em;
        vertical-align: baseline;
    }
}

.example {
    padding: 1ex;
    border: 1px solid #888;
    label {
        display: block;
    }
    input:invalid {
        outline: 2px solid red;
    }
}