---
---

@import "{{ site.theme }}";

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #dbdbdb;
}

header {
    display: none;
}

ul > li {
    list-style-image: none;
    padding: 4px;
    ::marker {
        font-size: 1em;
        vertical-align: baseline;
    }
}

a {
    color: #40a8ff;
    text-shadow: none;
    text-decoration: none;
}

h1 {
    font-family: inherit;
    font-size: 1.6rem;
    margin: 1rem 0px;
    font-weight: bolder;
}

.example {
    padding: 1ex;
    border: 1px solid #888;
    label {
        display: block;
    }
    input:invalid {
        outline: 2px solid red;
    }
}