---
---

@import "{{ site.theme }}";

header {
    display: none;
}

.example {
    padding: 1ex;
    border: 1px solid #888;
    label {
        display: block;
    }
    input:invalid {
        outline: 2px solid red;
    }
}